header{
    text-align: center;
    font-size: x-large;
    padding-block: .25in;


}
div{
    text-align: center;
    font-size: large;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a.button {
    display: inline-block;
    color:darkgreen;
    background-color:lightcyan;
    border: .25in darkgreen outset;
    padding-block: 0.25in;
    white-space: nowrap;
    block-size: .25in;


}

