<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/homeStyle.css">
</head>
<body>
<header>
    Welcome to the U.S./Israel stock comparison analysis.
Below are links to see data and graphs
</header>

<div>
    <a href = "/graphIsrael" class = "button"> israel businesses stock market graphs </a> </div>
<div>  <a href = "/graphUS" class = "button"> U.S. businesses  stock market graphs </a></div>
<div> <a href = "/ilMinMaxData" class = "button"> Israel companies maximum and minimum months</a></div>
 <div><a href = "/uMinMaxData" class = "button"> U.S. companies maximum and minimum months</a></div>


</body>
</html>